$shadow1: 0 0 0 0 rgba($primary, 0);
$shadow2: 0 0 0 15px rgba($primary, .20);
$shadow3: 0 0 0 30px rgba($primary, .15);
$shadow4: 0 0 0 45px rgba($primary, .10);
$shadow5: 0 0 25px 120px rgba($primary, 0);

@keyframes waves {
  0% {
    box-shadow: $shadow1, $shadow5, $shadow4, $shadow3, $shadow2;
  }

  25% {
    box-shadow: $shadow2, $shadow1, $shadow5, $shadow4, $shadow3;
  }

  50% {
    box-shadow: $shadow3, $shadow2, $shadow1, $shadow5, $shadow4;
  }

  75% {
    box-shadow: $shadow4, $shadow3, $shadow2, $shadow1, $shadow5;
  }

  100% {
    box-shadow: $shadow5, $shadow4, $shadow3, $shadow2, $shadow1;
  }
}
